
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-laptop:before { content: '\e802'; } /* '' */
.icon-tablet:before { content: '\e803'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */