body{
    background-color: rgb(187, 220, 223);
    font-size: 16px;
    font-family: 'Signika', sans-serif;
}
#box{
    margin-left: auto;
    margin-right: auto;
}
header > h1{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.content{
    background-size: cover;
    width: 815px;
    height: 275px;
    margin: auto;
    position: relative;
}
.me{
    position: relative;
    display: block;
    left: 12%;
    bottom: 83%;
    width: 80%;
}
nav{
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}
nav a{
    text-decoration: none;
    color: black;
}
.about{
    text-align: center;
    transition: scale .5s ease-in-out;
    cursor: pointer;
}
.about:hover{
    scale: 1.2;
}
.offer{
    text-align: center;
    transition: scale .5s ease-in-out;
    cursor: pointer;
}
.offer:hover{
    scale: 1.2;
}    
.projects{
    text-align: center;
    transition: scale .5s ease-in-out;
    z-index: 10;
    cursor: pointer;
}
.projects:hover{
    scale: 1.2;
}
.contact{
    text-align: center;
    transition: scale .5s ease-in-out;
    cursor: pointer;
}
.contact:hover{
    scale: 1.2;
}
.motto{
    background-color: rgb(187, 220, 223);
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    padding: 0rem;
    width: 50%;
    height: auto;
    color: rgb(92, 91, 91);
}
.motto > p{
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
}
.footer > p{
    text-align: center;
}